@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4">
        <NavLink href="/">Chat</NavLink>
        <NavLink href="about" class="end">About</NavLink>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>